.container{
    background-color:var(--lwc-brandHeader, #FFFFFF);
    padding: 16px;
    max-height:480px;
    overflow-y:scroll;
    display:block;
}

.time{
font-size:4rem;
font-weight: 600;
}

.greeting {
font-size: 100;
font-weight:40px;

}